<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Playing...</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/mobile_device.css" %}" />
</head>
<body>
    <div class="player">
        <p><img src="{% static 'img/radiochannels/'|add:channel.image_url %}" alt="{{ channel.name }}" height="92"></p>
        <form action="{% url 'homestream:player' stream.id channel.id %}" method="post">
            {% csrf_token %}
            {% if pid %}
            <input type="hidden" name="stop" value="1" />
            {% endif %}
            <input class="button" type="submit" value="Stop!" />
        </form>
    </div>
</body>
</html>