body
{
    text-align: left;
    font-size: 1.3em;
    background-color: #41474c;
	#background-color: #838A8F;
    margin: 0;
    padding: 0;
    color: #afafaa;
    font-family: Georgia;
}

p
{
    padding-top: 0.5em;
    padding-left: 0.5em;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li
{
    background-color: #41474c;
	display: inline;
}

a
{
    text-decoration: none;
    color: #afafaa;
}

li img
{
	padding-left: 0.5em;
    padding-top: 0.5em;
}

.button
{
    padding: 0.4em !important;
    font-size: 1.4em !important;
    background-color: #3cc34e;
    text-shadow: 1px 1px #3cc34e;
    color: #ffffff;
    font-family: Georgia;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #3cc34e;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin: 0.5em;
}

.player
{
    text-align: center;
    padding: 1em;
}

.vk_stream a
{
    position: relative;
}
.vk_stream a img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
}

.vk_stream ul li
{
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
}

.artist
{
    color: #7ec37f;
}

.track
{
    color: #afafaa;
}